<div  class="about">
    <div class="main-content">
     <section class="content">
            <div class="row">
                <div class="row">
                    <div class="col-lg-6 col-sm-12 box">
                        <img src="../../assets/Profile1.jpg" id="icon" alt="User Icon" />
                    </div>
                    <div class="col-lg-6 col-sm-12 box">
                        <ul style="text-align: left;">
                            <br>
                            <h1 class="multicolortext" style="text-align: center; font-size: 50px;">About Me!!</h1>
                            <br>
                            <li class="para">I am Abhijeet Kumar, Full Stack Developer at Docty Inc, 
                                graduated in year 2021 from Sri Sairam College Of Engineering, Bengaluru. </li>
                                <br>
                            <li class="para"> I have a good understanding of JavaScript, TypeScript, Angular, Node, Data Structure and Algorithm. 
                                I have good coding and problem solving skills and am a regular coder at codeforces.
                                </li>
                                <br>
                            <li class="para">I have past experience of Frontend as well as Backend Development where I used a lot of technologies including HTML5, CSS, JavaScript, TypeScript, Angular, Node.js.
                                Currently, working as Full Stack Developer at Docty Inc where I learnt a lot of technologies and explored new technologies.
                            </li>
                            <br>
                        </ul>
                                
            <div class="row">
                <h1 class="multicolortext"><strong>Education</strong></h1>
                <br>
                <div class="col-lg-6 col-sm-12">
                </div>
                <div class="col-lg-6 col-sm-12">
                    <ul style="text-align: left;">
                        <li class="para" style="font-weight: bold;">Sri Sairam College Of Engineering, Bengaluru</li>
                        <span class="text-item">B.E,</span> &nbsp;<span  class="text-item">Computer Science and Engineering</span><br>
                        <span class="text-item">CGPA : 7.90</span><br>
                        <span class="text-item">YOP : 2021</span>
                        <br>
                        <br>
                        <li class="para" style="font-weight: bold;">Himalayan Public School, Patna</li>
                        <span class="text-item">12th,</span> &nbsp;<span  class="text-item">Physics, Chemistry and Maths</span><br>
                        <span class="text-item">Percentage : 73.4%</span><br>
                        <span class="text-item">YOP : 2016</span>
                        <br>
                        <br>
                        <li class="para" style="font-weight: bold;">Himalayan Public School, Patna</li>
                        <span class="text-item">10th,</span> &nbsp;<span  class="text-item">Science</span><br>
                        <span class="text-item">CGPA : 9.2</span><br>
                        <span class="text-item">YOP : 2014</span>
                    </ul>
                </div>
            </div>
                        <a href="" target="_blank"> <h4></h4></a>
                    </div>
                </div>
            </div>
    
        </section>
    
    </div>
    
    </div>