

<div class="main-content">
    <section class="banner">
        <!-- <h1 class="banner-text">Experience</h1> -->
    </section>
    
    <section class="content">
        <h1 style="text-align: center;">Full Stack Developer</h1>
        <span>Docty Inc,</span>&nbsp;<span> Jul 2021 - Present</span>
        <div class="row">
            <div class="col-lg-6 col-sm-12 box">
                <img src="https://raw.githubusercontent.com/sukul9015/my-portfolio/gh-pages/assets/docty.PNG" id="icon" alt="User Icon" />
            </div>
            <div class="col-lg-6 col-sm-12 box">
                <ul style="text-align: left;">
                    <br>
                    <br>
                    <br>
                    <li class="para">Working on Doctor portal, Patient portal, Clinics Portal and website.</li>
                    <li class="para">Worked on
                        an internal website for API documentation using Swagger</li>
                    <li class="para">Using javaScript, TypeScript and Angular framework for the development of different pages in the portals and website.
                    </li>
                </ul>
                <a href="https://doctyindia.com/" target="_blank"> <h4>Docty Inc.</h4></a>
            </div>
        </div> 
    </section>
    <section class="content">
        <h1 style="text-align: center;">Web Development Intern</h1>
        <span>The Sparks Foundation,</span>&nbsp;<span> Nov 2020 - Dec 2020</span>
        <div class="row">
            <div class="col-lg-6 col-sm-12 box">
                <a href="https://bascbnking-systm.000webhostapp.com/" target="_blank"> <img src="../../assets/TSF-T1.png" id="icon" alt="User Icon" /></a>
            </div>
            <div class="col-lg-6 col-sm-12 box">
                <ul style="text-align: left;">
                    <br>
                    <br>
                    <br>
                    <li class="para">Designed and implemented a dynamic web app that has the customer's names and credits.</li>
                    <li class="para"> The user is able to transfer a genuine amount of funds from 1 person to another</li>
                    <li class="para">Using HTML, CSS , JavaScript and PHP for the development of different pages in the website.
                    </li>
                    <li class="para">Database-Mysql</li>
                </ul>
                <a href="https://www.thesparksfoundationsingapore.org/" target="_blank"> <h4>The Sparks Foundation.</h4></a>
            </div>
            
        </div> 
        <!-- <input class="more" type="button" value="Read More >>>" [routerLink]="'/contact'"> -->
    </section>

    

</div>
