<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
        <h4 style="text-decoration: underline">Let's Connect</h4>
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/abhijeetspa/" role="button" target="_blank"
          ><i class="fab fa-facebook-f"></i
        ></a>
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/sce17cs051/" role="button" target="_blank"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Abhijeetofficial" role="button" target="_blank"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->

      <!-- Section: Text -->
      <section class="mb-4">
        
            <div class="address">
                <h4 style="text-decoration: underline;">Address</h4><br>
                <span>In front of C.M.S High School,</span><br>
                <span>Adampur,</span><br>
                <span>Bhagalpur,</span><br>
                <span>Bihar - 812001</span><br>
            </div>
        
      </section>
      <!-- Section: Text -->
  
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-white">Abhijeet K</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->