<!-- <p>home works!</p> -->
<div class="home">
    <div class="container">
        <!-- <img src="../../assets/background.jpg" alt="..." class=""> -->
        <h1>Hi! There 👋 
            <br>
            Myself
        </h1>
        <h1 class="name">Abhijeet Kumar</h1>
        <h1 class="tw"></h1>
        <br>
        <br>
        <h1><strong><i>I am Abhijeet Kumar, Full Stack Developer @ Docty Inc,
            <br>
            graduated in 2021 from Sri Sairam College Of Engineering, Bengaluru.
        </i></strong></h1>
        <br>
        <section class="content">
            <h1 class="skill"><strong>Skills</strong></h1>
            <div class="row">
                <div class="col-lg-3">
                    <div class="container">
                        <h4>Angular</h4>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="container">
                        <h4>HTML</h4>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="container">
                        <h4>CSS</h4>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="container">
                        <h4>JavaScript</h4>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-3">
                    <div class="container">
                        <h4>DSA</h4>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="container">
                        <h4>OOPs</h4>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="container">
                        <h4>DBMS</h4>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="container">
                        <h4>Nodejs</h4>
                    </div>
                </div>
            </div>
        </section>
    </div>
    </div>